/* global style  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

section,
footer {
    margin-top: 120px;
}

/* global style  */

/* start header section style */
header {
    margin-top: 20px;
}

.container {
    width: 1320px;
    margin: 0px auto;
}

.banner {
    background: linear-gradient(180deg, #0c031dec 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    padding: 177px 334px;
}

.title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

.title-caption {
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* End header section style */

/* start Deals section style */
.deals-main-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
}

.deals-caption {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.deals-sub-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.deals-image img {
    width: 100%;
}

.deals-image {
    width: 802.9px;
    height: 500px;
    margin: auto;
}

/* End Deals section style */

/* Start Party section style */
.party-area {
    background: linear-gradient(90deg, #080214ea 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 142px;
    display: flex;
    gap: 24px;
    border-radius: 10px;
}

.party-description {
    padding: 116px 0px 0px 126px;
}

.party-description>h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.05px;
}

.party-description>p {
    color: rgba(219, 205, 205, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 25px 0px;
    line-height: 32px;
    margin-bottom: 20px;
}

.party-image {
    width: 320px;
    height: 465px;
}

.party-image img {
    width: 100%;
    margin-top: 74px;
}

.btn-primary {
    padding: 16px 32px;
    outline: 0;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FF0000;
    border-radius: 5px;
    cursor: pointer;
}

/* End Party section style */

/* Start Place section style */
.place-area {
    background: linear-gradient(180deg, rgba(216, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 150px 0px 215px;
    text-align: center;
    border-radius: 10px;
}

.place-area h1 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.place-area h1>span {
    color: #FF0000;
}


/* End Place section style */

/* start Offer section  */
.left {
    text-align: left;
}

.offer-description {
    color: rgba(8, 2, 20, 0.534);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.offer-area {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.offer-center-child {
    border: 15px solid #FF0000;
    border-radius: 50%;
    padding: 40px;
}

/* End Offer section  */


/* Start sale section  */
.sale-area .sale-description {
    text-align: center;
}

.sale-sub-title {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sale-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 28px;
}

.sale-title span {
    color: #FF0000;
}

.sale-caption {
    color: rgba(8, 2, 20, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.bar-area {
    background: #FF0000;
    width: 100%;
    height: 230px;
    border-radius: 10px 0px 10px 10px;
}

.image-area {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 65px;
}

.image-area .right-image {
    background: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}

.left-image img {
    position: absolute;
    left: -59px;
    bottom: -261px;
    box-shadow: 1px 1px 1px solid black;
}

.right-image {
    position: relative;
    width: 430px;
    height: 433px;
}

.right-image img {
    position: absolute;
    left: -36%;
    top: 15%;
}

/* End sale section  */

/* start protfolio section  */
.protfolio-sub-title {
    color: #FF0000;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.protfolio-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 47px;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.protfolio-caption {
    color: rgba(12, 4, 27, 0.555);
    font-family: Inter;
    font-size: 21px;
    line-height: 31px;
}

.protfolio-description {
    margin-bottom: 50px;
}

.protfolio-images {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

.protfolio-child {
    box-shadow: 0 0 0 #aaa8a8;
    transition: box-shadow 100ms ease;
    /* -webkit-backface-visibility: hidden; */
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.protfolio-child:hover {
    transform: scale(1.1, 1.1);
    z-index: 1;
    border-radius: 10px;
    filter: grayscale(60%);
}

/* end protfolio section  */

/* start subscribe section  */
.subscribe-area {
    border-radius: 15px;
    background: rgba(223, 0, 0, 0.05);
    padding: 85px 0px;
    text-align: center;
}

.email-box {
    margin-top: 50px;
}

.email-box input {
    margin: 0;
    padding: 15px 15px;
    outline: none;
    border: none;
    color: rgba(0, 0, 0, 0.733);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 400px;
    border-radius: 50px 0px 0px 50px;
}
.email-box > button{
    font-size: 18px;
    padding: 15px 40px;
    border: none;
    outline: none;
    background: #FF0000;
    color: white;
    border-radius: 0px 50px 50px 0px;
    cursor: pointer;
    margin-left: -5px;
}
/* end subscribe section  */

/* start footer section  */
footer {
    background-color: #070211;
    padding: 120px 140px;
}

.left-content h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.right-content {
    margin-right: 150px;
}

.right-content p {
    color: #fff;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.right-content p img {
    margin-right: 10px;
}

.top-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.down {
    margin-right: 0;
}

.down a {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
}

/* End footer section  */