/* global style  */
* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

section,
footer {
    margin-top: 120px;
}

/* global style  */

/* start header section style */
header {
    margin-top: 20px;
}

.container {
    width: 1320px;
    margin: 0px auto;
}

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
    text-align: center;
    padding: 177px 334px;
}

.title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

.title-caption {
    color: white;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* End header section style */

/* start Deals section style */
.deals-main-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 48px;
}

.deals-caption {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.deals-sub-title {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.deals-image img {
    width: 100%;
}
.deals-image{
    width: 802.9px;
    height: 500px;
    margin: auto;
}

/* End Deals section style */